
body{font-family:Arial;background:#f4f6f8;padding:30px;}
.container{width:400px;margin:auto;background:white;padding:20px;border-radius:10px;}
input,button{width:100%;margin:5px 0;padding:10px;}
button{background:#4CAF50;color:white;border:none;}
table{width:100%;margin-top:20px;}
td,th{padding:8px;border-bottom:1px solid #ddd;}
